@{
    ViewBag.Title = "RegItem";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:red">Register Item</h2>
<div class="form-group">
<form method="post" action="AddItem">
    <h1 style="color:red">Register New User</h1>
    <table class="table" style="border:hidden">
        <tr style="border:hidden">
            <td style="text-align:right"><label class="badge">Name</label></td>
            <td><input type="text" placeholder="Name" name="Name" id="Name" /><span style="color:skyblue"> Name_Weight/Volume_Brand</span></td>
        </tr>
        <tr style="border:hidden">
            <td style="text-align:right"><label class="badge">Price</label></td>
            <td><input type="text" placeholder="Price" name="Price" id="Price" /><span style="color:skyblue">000,000</span></td>
        </tr>
        <tr style="border:hidden">
            <td style="text-align:right"><label class="badge">Deaprtment</label></td>
            <td><input type="text" placeholder="Deaprtment" name="Dept" id="Dept" /> <span style="color:skyblue">1/2</span> </td>
        </tr>
        <tr style="border:hidden">
            <td style="text-align:right"><label class="badge">Category</label></td>
            <td><input type="text" placeholder="Category" name="Category" id="Category" /> <span style="color:skyblue"> 1/2/3/4. . . </span> </td>
        </tr>
        <tr style="border:hidden">
            <td style="text-align:right"><input type="submit" class="btn-danger btn" value="Submit" /> </td>
            <td style="text-align:left"><input type="button" class="btn-danger btn" value="Cancel" /> </td>
        </tr>
    </table>
</form>

</div>
