<!DOCTYPE html>


<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<body style="background-color:aliceblue">
    <div class="jumbotron" style="background-color:yellow; color:red; font-family:'times new roman'">
        <div class="container text-center">
            <h1><img src="~/Content/logo.png" height="100" width="200" /> Bakers & Departmental Store</h1>
        </div>

        <div class="text-info" style="text-align:center">Serving The Nation Since 1950.</div>
    </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" style="text-align:center">
                <article style="font-family:'Times New Roman';font-size:x-large;text-align:justify">
                    <h1 style="color:red;font-family:'Times New Roman'; text-align:center">Rahat Bakers & Departmental Store</h1><br />
                    <p>
                        Rahat Bakery is serving since 1950 in all over the Pakistan. Our quality products are our recoginition.
                        We are concious to customer's health and investment. We only deals in hygeine and healthy products.
                    </p>

                    <p>
                        Its founder is Chaudhary Gulam Nabi & Chaudhary Rehmat Ulla. It is started in 1950 to introduce a wide range of quality driven,
                        hygeine and healthy products in all over the Pakistan.
                    </p>

                    <p>
                        Rahat Bakery is the most challenging bakery in all over the Pakistan for its quality products and our mission
                        is to make the best quality and having delicious taste bakery products and spread them all around. We are stuggling honestly
                        on our mission since 1950 and sucesseed to prove Rahat bakery only deals in hygeine and quality products.
                        <br /><h2 style="font:bolder">Health is Wealth.</h2>

                    </p>
                </article>
            </div>
            <div class="col-lg-2"></div>
        </div>
</body>