@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="img-circle">
    <img src="~/Content/artworkDecember.jpg" />
    <img src="~/Content/artworkDecember2.jpg" />
</div>